/* body is html tag not a class name, should use name directly */
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: black;
}

/* container is id based html file not a class name, should use #container */
/* Change the display to make the container content centered*/
#container {
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* image's html tag is img  */
#container > img {
    display: block;
}